/*****
RESET
*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****
BODY
*****/
body {
    font-family: "Fredoka", sans-serif;
    font-style: normal;
}

/*******
HEADER
*******/
h1 {
    text-transform: capitalize;
    margin: 40px 0;
    text-align: center;
    color: #e53170;
}

/******
MAIN
******/
main {
    margin: 0 auto;
    padding-top: 20px;
    width: 1144px;
}

.description {
    text-align: center;
}

.members {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 30px;
}

.members .card {
    height: 100px;
    width: calc((1144px - 60px) / 3);
    display: flex;
}

.card .photo img {
    height: 100%;
}