/*****
RESET
*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****
BODY
*****/
body {
    font-family: "Fredoka", sans-serif;
    font-style: normal;
}

/*******
HEADER
*******/
h1 {
    text-transform: capitalize;
    margin: 40px 0;
    text-align: center;
    color: #e53170;
}

/******
MAIN
******/
main {
    margin: 0 auto;
    padding-top: 20px;
    width: 1144px;
}

.description {
    text-align: center;
}

.members {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 30px;
}

.members .card {
    height: 100px;
    width: calc((1144px - 60px) / 3);
    display: flex;
    background-color: #0f0e17;
}

.card .photo img {
    height: 100%;
}

.card .info ul {
    height: 100%;
    color: white;
    margin-left: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card .info .name {
    font-weight: bold;
    text-transform: uppercase;
}

.card .info .job {
    text-transform: capitalize;
}

.card .info .e-mail a {
    text-decoration: none;
    color: #00c6f3;
}